<div class="nav-holder">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <%= render partial: "layouts/navbar_header" %>
        </div>
    </nav>
</div>

<% if flash[:notice] -%>
  <p class="alert alert-info"><%= notice %></p>
<% end %>
<% if flash[:alert] -%>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="user-page">
          <div class="form">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <h2 class="section-heading">SIGN UP</h2>
            <%= devise_error_messages! %>

              <div class="form-group">
                <div class="field">
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true %>
                </div>
                <div class="field">
                  <%= f.label :password %>
                  <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em>
                  <% end %><br />
                  <%= f.password_field :password, autocomplete: "off" %>
                </div>
                <div class="field">
                  <%= f.label :password_confirmation %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off" %>
                </div>

                <div class="actions">
                  <%= f.submit "SIGN UP", :class => 'button' %>
                </div>
                <% end %>

                <p class="message">
                  <%= render "devise/shared/links" %>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>