<%= render partial: "participants/multiple-mention-contributors-modal" %>

<div class="portfolio-modal modal fade" id="bill_hiss" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Bill Hiss</h2>
                            <p class="item-intro text-muted">Dean of Admissions Emeritus at Bates College</p>
                            <%= image_tag("contributor-img/Hiss.jpg", class: "img-responsive", alt: "Bill Hiss") %>
                            <p>Bill Hiss is the co-author of “Defining Promise: Optional Standardized Testing Policies in American College and University Admissions.” Bill is Dean of Admissions Emeritus at Bates College. He was interviewed for "The Test and the Art of Thinking” (working title) in September 2014.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="philip_ballinger" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Philip Ballinger</h2>
                            <p class="item-intro text-muted">Associate Vice Provost for Enrollment and Undergraduate Admissions at University of Washington</p>
                            <%= image_tag("contributor-img/Ballinger.jpg", class: "img-responsive", alt: "Philip Ballinger") %>
                            <p>Philip Ballinger is the Associate Vice Provost for Enrollment and Undergraduate Admissions at University of Washington.  He is currently a trustee of the College Board and was recently a member of the organization’s Board of Trustees Executive Committee.  In 2012, Dr. Ballinger was named by NACAC to head a commission studying international student recruitment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="patrick_hayashi" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Patrick Hayashi</h2>
                            <p class="item-intro text-muted">Former Associate Vice Chancellor for Admissions and Enrollment at the UC Berkeley</p>
                            <%= image_tag("contributor-img/Hayashi.jpg", class: "img-responsive", alt: "Patrick Hayashi") %>
                            <p>Patrick Hayashi is a former associate vice chancellor for admissions and enrollment at the University of California at Berkeley.  In 1999, joined UC’s Office of the President where he served as associate president under President Richard Atkinson, and worked with Dr. Atkinson to devise a challenge to UC’s use of the SAT.  As a trustee of the College Board, Dr. Hayashi pressed the organization to discontinue the use of the PSAT to determine National Merit Scholarship eligibility.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="danielle_allen" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Danielle S. Allen</h2>
                            <p class="item-intro text-muted">Trustee of Amherst College</p>
                            <%= image_tag("contributor-img/Allen.jpg", class: "img-responsive", alt: "Danielle S. Allen") %>
                            <p>Danielle S. Allen is the James Bryant Conant University Professor at Harvard University and the Director of the Edmond J. Safra Center for Ethics. Prior to joining Harvard, she was at the Institute for Advanced Study. She has published broadly in democratic theory, political sociology, and the history of political thought. Danielle is a Chair of the Mellon Foundation Board, and past Chair of the Pulitzer Prize Board.  She was interviewed for "The Test and the Art of Thinking” (working title) in February, 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="leon_botstein" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Leon Botstein</h2>
                            <p class="item-intro text-muted">President of Bard College</p>
                            <%= image_tag("contributor-img/Botstein.jpg", class: "img-responsive", alt: "Leon Botstein") %>
                            <p>Leon Botstein is the President of Bard College and Leon Levy Professor in the Arts and Humanities. He is also the Music Director and Principal Conductor of the American Symphony Orchestra. He was interviewed for "The Test and the Art of Thinking” (working title) in February 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="susan_cole" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Susan Cole</h2>
                            <p class="item-intro text-muted">President of the Montclair State University</p>
                            <%= image_tag("contributor-img/Cole.jpg", class: "img-responsive", alt: "Susan Cole") %>
                            <p>Susan Cole has been the president of Montclair State University since 1998.  The institution led by Dr. Cole is the second largest university in New Jersey, with 21,000 graduate and undergraduate students.  Montclair adopted a test optional admissions policy in 2014.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="mike_muska" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Mike Muska</h2>
                            <p class="item-intro text-muted">Dean of College Relations at Poly Prep Country Day School</p>
                            <%= image_tag("contributor-img/Muska.jpg", class: "img-responsive", alt: "Mike Muska") %>
                            <p>Mike Muska is the Dean of College Relations at Poly Prep Country Day School and the co-author of Getting In: The Zinch Guide to College Admissions & Financial Aid in the Digital Age.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="kristin_tichenor" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Kristin Tichenor</h2>
                            <p class="item-intro text-muted">Founder and Executive Director of the Education Conservancy</p>
                            <%= image_tag("contributor-img/Tichenor.jpg", class: "img-responsive", alt: "Kristin Tichenor") %>
                            <p>Kristin Tichenor is a Senior Vice President at Worcester Polytechnic Institute, overseeing the areas of enrollment management, marketing and communications, and student affairs.  She plays a key role in meeting WPI’s undergraduate and graduate enrollment goals, including retention-related activities, institutional research, and diversity outreach.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="scott_jaschik" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Scott Jaschik</h2>
                            <p class="item-intro text-muted">Co-founder and Editor of Inside Higher Ed</p>
                            <%= image_tag("contributor-img/Jaschik.jpg", class: "img-responsive", alt: "Scott Jaschik") %>
                            <p>Scott Jaschik is the co-founder and Editor of Inside Higher Ed. He was interviewed for "The Test and the Art of Thinking” (working title) in April 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="debbie_stier" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Debbie Stier</h2>
                            <p class="item-intro text-muted">Author of “The Perfect Score Project: One Mother’s Journey to Uncover the Secrets of the SAT.”</p>
                            <%= image_tag("contributor-img/Stier.jpg", class: "img-responsive", alt: "Debbie Stier") %>
                            <p>Debbie Stier is the author of “The Perfect Score Project: One Mother’s Journey to Uncover the Secrets of the SAT.” She was interviewed for "The Test and the Art of Thinking” (working title) in February 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="eric_hoover" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Eric Hoover</h2>
                            <p class="item-intro text-muted">Senior Writer for The Chronicle of Higher Education</p>
                            <%= image_tag("contributor-img/Hoover.jpg", class: "img-responsive", alt: "Eric Hoover") %>
                            <p>Eric Hoover is a Senior Writer for The Chronicle of Higher Education. He has written extensively about college admissions and enrollment issues and has reported on debates over standardized testing. He was interviewed for "The Test and the Art of Thinking” (working title) in September 2014.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="milo_beckman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Milo Beckman</h2>
                            <p class="item-intro text-muted">Freelance writer for FiveThirtEight</p>
                            <%= image_tag("contributor-img/Beckman.jpg", class: "img-responsive", alt: "Milo Beckman") %>
                            <p>Milo Beckman is a freelance writer for FiveThirtEight, constructs crossword puzzles for the New York Times, and tutors students in math and science.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="catherine_gewertz" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Catherine Gewertz</h2>
                            <p class="item-intro text-muted">Associate Editor at Education Week</p>
                            <%= image_tag("contributor-img/Gewertz.jpg", class: "img-responsive", alt: "Catherine Gewertz") %>
                            <p>Catherine Gewertz is an Associate editor at Education Week.  Catherine  focuses on educational assessment, and on pathways through middle and high school.  She is the author of the blog “High School & Beyond”. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="charles_murray" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Charles Murray</h2>
                            <p class="item-intro text-muted">W.H. Brady Scholar at the American Enterprise Institute</p>
                            <%= image_tag("contributor-img/Murray.jpg", class: "img-responsive", alt: "Charles Murray") %>
                            <p>Charles Murray is the W.H. Brady Scholar at the American Enterprise Institute, a political scientist and author. He was interviewed for "The Test and the Art of Thinking” (working title) in April 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="anthony_carnevale" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Anthony P. Carnevale</h2>
                            <p class="item-intro text-muted">Research Professor and Director of the Georgetown University Center on Education and the Workforce</p>
                            <%= image_tag("contributor-img/Carnevale.jpg", class: "img-responsive", alt: "Anthony P. Carnevale") %>
                            <p>Anthony P. Carnevale, a research Professor and the Director of the Georgetown University Center on Education and the Workforce, is a former VP of Public Leadership at the Educational Testing Service.  Dr. Carnevale was appointed by presidents Clinton and Reagan to national educational commissions.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="les_perelman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Les Perelman</h2>
                            <p class="item-intro text-muted">Director of Writing at MIT and Associate Dean in the Office of the Dean of Undergraduate Education</p>
                            <%= image_tag("contributor-img/Perelman.jpg", class: "img-responsive", alt: "Les Perelman") %>
                            <p>Les Perelman spent twenty-six years at the Massachusetts Institute of Technology as the Director of Writing Across the Curriculum in Comparative Media Studies and as an Associate Dean in the Office of the Dean of Undergraduate Education.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="joseph_soares" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Joseph Soares</h2>
                            <p class="item-intro text-muted">Department Chair and a Professor of Sociology at Wake Forest University</p>
                            <%= image_tag("contributor-img/Soares.jpg", class: "img-responsive", alt: "Joseph Soares") %>
                            <p>Joseph Soares is the Department Chair and a Professor of Sociology at Wake Forest University.  Dr. Soares is the author of The Power of Privilege, which focuses on the historical admissions policies of Yale University (including the use of the SAT), and is the editor of SAT Wars— The Case for Test-Optional College Admissions.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="pavlina_tcherneva" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Pavlina Tcherneva</h2>
                            <p class="item-intro text-muted">Associate Professor and Chair at the Department of Economics at Bard College</p>
                            <%= image_tag("contributor-img/Tcherneva.jpg", class: "img-responsive", alt: "Pavlina Tcherneva") %>
                            <p>Pavlina Tcherneva is an Associate Professor and Chair at the Department of Economics at Bard College.  Her current research examines the impact of direct job creation on growth, the unemployed, and on women and the young.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="greg_hanlon" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Greg Hanlon</h2>
                            <p class="item-intro text-muted">Test Prep Specialist</p>
                            <%= image_tag("contributor-img/Hanlon.jpg", class: "img-responsive", alt: "Greg Hanlon") %>
                            <p>Greg is a Test Prep Specialist and has tutored as many as 2500 students for the SAT. He was interviewed for "The Test and the Art of Thinking” (working title) in October 2014.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="jed_applerouth" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Jed Applerouth</h2>
                            <p class="item-intro text-muted">Founder and CEO of Applerouth Tutoring</p>
                            <%= image_tag("contributor-img/Applerouth.jpg", class: "img-responsive", alt: "Jed Applerouth") %>
                            <p>Jed Applerouth is the founder and CEO of Applerouth Tutoring Services, which provides test preparation and academic tutoring.  Jed has a Ph.D. in Educational Psychology and wrote his dissertation on the impact that various forms of Applerouth’s tutoring have had on SAT scores.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="chris_ajemian" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Chris Ajemian</h2>
                            <p class="item-intro text-muted">Founder and CEO of CATES Tutoring & Educational Services</p>
                            <%= image_tag("contributor-img/Ajemian.jpg", class: "img-responsive", alt: "Chris Ajemian") %>
                            <p>Chris Ajemian is the founder and CEO of CATES Tutoring & Educational Services, which offers test prep, tutoring, and college applications and admissions consulting.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="john_katzman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>John Katzman</h2>
                            <p class="item-intro text-muted">Founder of The Princeton Review</p>
                            <%= image_tag("contributor-img/Katzman.jpg", class: "img-responsive", alt: "John Katzman") %>
                            <p>John Katzman founded The Princeton Review in 1981.  The firm became a leading provider of test preparation coaching and study guides, focusing on standardized tests such as the SAT.  The firm’s publication Cracking the System -The SAT, which first appeared in 1986, contained specific test-taking strategies based on the structure of the exam.  Despite the importance of the SAT to The Princeton Review, Mr. Katzman has been openly skeptical and critical of the exam.  He has also founded education-related firms 2U and Noodle.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="steven_ma" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Steven Ma</h2>
                            <p class="item-intro text-muted">Founder of The Princeton Review</p>
                            <%= image_tag("contributor-img/Ma.jpg", class: "img-responsive", alt: "Steven Ma") %>
                            <p>Steven Ma is the Founder, President and CEO of ThinkTank Learning, Inc.  He is a member of the California Commission on Asian and Pacific Islander American Affairs.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="kory_mcbride" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Kory McBride</h2>
                            <p class="item-intro text-muted">Founder of The Princeton Review</p>
                            <%= image_tag("contributor-img/McBride.jpg", class: "img-responsive", alt: "Kory McBride") %>
                            <p>Kory McBride is an independent college access consultant. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="erica_meltzer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Erica Meltzer</h2>
                            <p class="item-intro text-muted">Founder of The Princeton Review</p>
                            <%= image_tag("contributor-img/Meltzer.jpg", class: "img-responsive", alt: "Erica Meltzer") %>
                            <p>Erica Meltzer is the founder of The Critical Reader, which provides individual tutoring in reading and writing for the SAT and ACT, as well as  college essay assistance.  Erica is the author of nearly a dozen study guides, including The Complete Guide to SAT Critical Reading and The Ultimate Guide to SAT Grammar. </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="james_murphy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>James Murphy</h2>
                            <p class="item-intro text-muted">Freelance Journalist and Manager for The Princeton Review</p>
                            <%= image_tag("contributor-img/Murphy.jpg", class: "img-responsive", alt: "James Murphy") %>
                            <p>James Murphy is a freelance Journalist and Director of Tutoring for The Princeton Review. His articles have appeared in The Wall Street Journal, The Atlantic, Vanity Fair, and Slate. He is a former Lecturer at Harvard University and was interviewed for "The Test and the Art of Thinking” (working title) in October 2014.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="wayne_camara" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Wayne Camara</h2>
                            <p class="item-intro text-muted">Senior VP of Research at ACT, Inc. and former VP of Research and Development at the College Board</p>
                            <%= image_tag("contributor-img/Camara.jpg", class: "img-responsive", alt: "Wayne Camara") %>
                            <p>Wayne Camara, Senior Vice President of Research at ACT, Inc. and former Vice President of Research and Development at the College Board, is interviewed for "The Test and the Art of Thinking” (working title) in February, 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="gaston_caperton" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Gaston Caperton</h2>
                            <p class="item-intro text-muted">Former President of the College Board</p>
                            <%= image_tag("contributor-img/Caperton.jpg", class: "img-responsive", alt: "Gaston Caperton") %>
                            <p>Gaston Caperton was the president of the College Board from 1999-2012 and the governor of West Virginia from 1989-97.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="david_coleman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>David Coleman</h2>
                            <p class="item-intro text-muted">President and CEO of the College Board</p>
                            <%= image_tag("contributor-img/Coleman.jpg", class: "img-responsive", alt: "David Coleman") %>
                            <p>David Coleman has been the president and CEO of the College Board since October 2012.  Previously, Mr. Coleman was an architect of the Common Core State Standards in math and literacy through his position as a co-founder of Student Achievement Partners.  He worked for the consulting firm McKinsey & Company for five years shortly after completing his education.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="david_hawkins" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>David Hawkins</h2>
                            <p class="item-intro text-muted">Executive Director of Educational Content and Policy at the National Association for College Admissions Counseling</p>
                            <%= image_tag("contributor-img/Hawkins.jpg", class: "img-responsive", alt: "David Hawkins") %>
                            <p>David Hawkins is the Executive Director of Educational Content and Policy at NACAC, the National Association for College Admissions Counseling. He was interviewed for "The Test and the Art of Thinking” (working title) in April 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="robert_schaeffer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Robert Schaeffer</h2>
                            <p class="item-intro text-muted">Public Education Director of FairTest</p>
                            <%= image_tag("contributor-img/Schaeffer.jpg", class: "img-responsive", alt: "Robert Schaeffer") %>
                            <p>Robert Schaeffer has been the Public Education Director of FairTest, the National Center for Fair & Open Testing, since its founding in 1985.  The organization describes its mission as “eliminating the racial, class, gender, and cultural barriers to equal opportunity posed by standardized tests”.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="lloyd_thacker" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Lloyd Thacker</h2>
                            <p class="item-intro text-muted">Founder and Executive Director of the Education Conservancy</p>
                            <%= image_tag("contributor-img/Thacker.jpg", class: "img-responsive", alt: "Lloyd Thacker") %>
                            <p>Lloyd Thacker is the Founder and Executive Director of the Education Conservancy, a nonprofit organization dedicated to reforming college admission practices. Before that, he spent 30 years in college admissions and counseling. Mr. Thacker is the editor of College Unranked and the author of several research studies on college admissions and financial aid.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
