<div class="portfolio-modal modal fade" id="martha_allman" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Martha Allman</h2>
                            <p class="item-intro text-muted">Dean of Admissions at Wake Forest University</p>
                            <%= image_tag("contributor-img/Allman.jpg", class: "img-responsive", alt: "Martha Allman") %>
                        </div>
                        <p>Martha Allman has been the Dean of Undergraduate Admissions for Wake Forest University since 2001. She led Wake Forest through the process of making college entrance exams, such as the SAT and ACT, optional for admission in 2008. Martha oversees the administration of Wake Forest’s merit-based scholarship program. She was interviewed for "The Test and the Art of Thinking” (working title) in April 2015.</p>
                        <p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="bill_fitzsimmons" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Bill Fitzsimmons</h2>
                            <p class="item-intro text-muted">Dean of Admissions and Financial Aid at Harvard </p>
                            <%= image_tag("contributor-img/Fitzsimmons.jpg", class: "img-responsive", alt: "Bill Fitzsimmons") %>
                            <p>Bill Fitzsimmons is the Dean of Admissions and Financial Aid at Harvard. He is a former trustee of the College Board and former chair on the Commission on the Use of Standardized Tests in Undergraduate Admissions. He was interviewed for "The Test and the Art of Thinking” (working title) in February 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="richard_atkinson" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Dr. Richard C. Atkinson</h2>
                            <p class="item-intro text-muted">Former President and Regent of the University of California System</p>
                            <%= image_tag("contributor-img/Atkinson.jpg", class: "img-responsive", alt: "Dr. Richard C. Atkinson") %>
                            <p>Dr. Richard C. Atkinson is the former president and regent of the University of California system, and the former Chancellor of UC San Diego. Dr. Atkinson has been a proponent of the long term benefits of intellectual inquiry throughout his life and career. He met with members of our team in November, 2014.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="akil_bello" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Akil Bello</h2>
                            <p class="item-intro text-muted">Director of Strategic Initiatives for the Princeton Review and the Co-founder of Bell Curves</p>
                            <%= image_tag("contributor-img/Bello.jpg", class: "img-responsive", alt: "Akil Bello") %>
                            <p>Akil Bello is the Director of Strategic Initiatives for the Princeton Review, where he help schools, community based organizations, and families understand and navigate the admissions landscape.  He is also a co-founder of Bell Curves, a test-prep company dedicated to underserved and disadvantaged communities.  Akil was interviewed for "The Test and the Art of Thinking” (working title) in February 2015.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="howard_gardner" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Howard Gardner</h2>
                            <p class="item-intro text-muted">Professor of Cognition and Education at the Harvard Graduate School of Education</p>
                            <%= image_tag("contributor-img/Gardner.jpg", class: "img-responsive", alt: "Howard Gardner") %>
                            <p>Howard Gardner, Professor of Cognition and Education at the Harvard Graduate School of Education at Harvard University, is the John H. and Elisabeth A. Hobbs Professor of Cognition and Education at the Harvard Graduate School of Education. The author of twenty-nine books, Gardner is best known in educational circles for his theory of multiple intelligences. He was interviewed for "The Test and the Art of Thinking” (working title) in February 2015.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="ted_oneill" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Ted O'Neill</h2>
                            <p class="item-intro text-muted">Former Dean of College Admissions at the University of Chicago</p>
                            <%= image_tag("contributor-img/O'Neill.jpg", class: "img-responsive", alt: "Ted O'Neill") %>
                            <p>Ted O’Neill was the Dean of College Admissions at the University of Chicago for 20 years.  He is currently a lecturer in the Humanities Department at the University.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="nicholas_lemann" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Nicholas Lemann</h2>
                            <p class="item-intro text-muted">Dean Emeritus of the Faculty of Journalism at the Columbia University Graduate School of Journalism</p>
                            <%= image_tag("contributor-img/Lemann.jpg", class: "img-responsive", alt: "Nicholas Lemann") %>
                            <p>Nicholas Lemann is Columbia Journalism School Joseph Pulitzer II and Edith Pulitzer Moore Professor of Journalism; Dean Emeritus. He has published in The Atlantic, The New Yorker, The New York Times and written several books including "The Big Test: The Secret History of the American Meritocracy.” He was interviewed for "The Test and the Art of Thinking” (working title) in February, 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portfolio-modal modal fade" id="steven_pinker" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i></button>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-lg-offset-3">
                        <div class="modal-body">
                            <h2>Steven Pinker</h2>
                            <p class="item-intro text-muted">Johnstone Family Professor in the Department of Psychology at Harvard University</p>
                            <%= image_tag("contributor-img/Pinker.jpg", class: "img-responsive", alt: "Steven Pinker") %>
                            <p>Steven Pinker is a Johnstone Family Professor in the Department of Psychology at Harvard University. He conducts research on language and cognition, writes for publications such as The New York Times, Time and The New Republic, and is the author of ten books, including "The Language Instinct," "How the Mind Works," "The Blank Slate," "The Stuff of Thought," "The Better Angels of Our Nature," and most recently, "The Sense of Style: The Thinking Person's Guide to Writing in the 21st Century." He was interviewed for "The Test and the Art of Thinking” (working title) in February, 2015.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>