<%= render partial: "layouts/public_nav" %>
<body class="page">
    <section id="contributors" class="contributors bg-green">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <h2 class="section-heading"><span>PARTICIPANTS</span></h2>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#bill_fitzsimmons" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Fitzsimmons.jpg", class: "img-responsive", alt: "Bill Fitzsimmons") %>
                            <div class="contributor-caption">
                                <h4>Bill Fitzsimmons</h4>
                                <p class="text-muted">Dean of Admissions at Harvard</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#richard_atkinson" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Atkinson.jpg", class: "img-responsive", alt: "Dr. Richard C. Atkinson") %>
                            <div class="contributor-caption">
                                <h4>Dr. Richard C. Atkinson</h4>
                                <p class="text-muted">Former President and Regent of the University of California System</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#howard_gardner" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                              </div>
                              <%= image_tag("contributor-img/Gardner.jpg", class: "img-responsive", alt: "Howard Gardner") %>
                                <div class="contributor-caption">
                                    <h4>Howard Gardner</h4>
                                    <p class="text-muted">Professor of Cognition and Education at the Harvard Graduate School of Education</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#martha_allman" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Allman.jpg", class: "img-responsive", alt: "Martha Allman") %>
                                <div class="contributor-caption">
                                    <h4>Martha Allman</h4>
                                    <p class="text-muted">Dean of Admissions at Wake Forest University</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#akil_bello" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Bello.jpg", class: "img-responsive", alt: "Akil Bello") %>
                            <div class="contributor-caption">
                                <h4>Akil Bello</h4>
                                <p class="text-muted">Cofounder of Bell Curves</p>
                            </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#ted_oneill" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/O'Neill.jpg", class: "img-responsive", alt: "Ted O'Neill") %>
                                <div class="contributor-caption">
                                    <h4>Ted O'Neill</h4>
                                    <p class="text-muted">Dean of College Admissions at the University of Chicago</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#nicholas_lemann" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Lemann.jpg", class: "img-responsive", alt: "Nicholas Lemann") %>
                                <div class="contributor-caption">
                                    <h4>Nicholas Lemann</h4>
                                    <p class="text-muted">Professor at the Columbia Graduate School of Journalism</p>
                                </div>
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#leon_botstein" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Botstein.jpg", class: "img-responsive", alt: "Leon Botstein") %>
                                <div class="contributor-caption">
                                    <h4>Leon Botstein</h4>
                                    <p class="text-muted">President of Bard College</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#anthony_carnevale" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Carnevale.jpg", class: "img-responsive", alt: "Anthony P. Carnevale") %>
                                <div class="contributor-caption">
                                    <h4>Anthony P. Carnevale</h4>
                                    <p class="text-muted">Research Professor at Georgetown</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#danielle_allen" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Allen.jpg", class: "img-responsive", alt: "Danielle S. Allen") %>
                                <div class="contributor-caption">
                                    <h4>Danielle S. Allen</h4>
                                    <p class="text-muted">James Bryant Conant University Professor at Harvard</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#charles_murray" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Murray.jpg", class: "img-responsive", alt: "Charles Murray") %>
                                <div class="contributor-caption">
                                    <h4>Charles Murray</h4>
                                    <p class="text-muted">W.H. Brady Scholar at the American Enterprise Institute</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#wayne_camara" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Camara.jpg", class: "img-responsive", alt: "Wayne Camara") %>
                                <div class="contributor-caption">
                                    <h4>Wayne Camara</h4>
                                    <p class="text-muted">Senior VP of Research at ACT, Inc. and former VP of R&D at the College Board</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#steven_pinker" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Pinker.jpg", class: "img-responsive", alt: "Steven Pinker") %>
                                <div class="contributor-caption">
                                    <h4>Steven Pinker</h4>
                                    <p class="text-muted">Johnstone Family Professor in the Department of Psychology at Harvard University</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#susan_cole" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Cole.jpg", class: "img-responsive", alt: "Susan Cole") %>
                                <div class="contributor-caption">
                                    <h4>Susan Cole</h4>
                                    <p class="text-muted">President of Montclair State University</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#les_perelman" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Perelman.jpg", class: "img-responsive", alt: "Les Perelman") %>
                                <div class="contributor-caption">
                                    <h4>Les Perelman</h4>
                                    <p class="text-muted">Director of Writing at MIT</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#joseph_soares" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                  <div class="contributor-hover-content">
                                      <i class="fa fa-info-circle fa-2x"></i>
                                  </div>
                              </div>
                              <%= image_tag("contributor-img/Soares.jpg", class: "img-responsive", alt: "Joseph Soares") %>
                                <div class="contributor-caption">
                                    <h4>Joseph Soares</h4>
                                    <p class="text-muted">Department Chair and Professor at Wake Forest University</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#steven_ma" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Ma.jpg", class: "img-responsive", alt: "Steven Ma") %>
                                <div class="contributor-caption">
                                    <h4>Steven Ma</h4>
                                    <p class="text-muted">Founder of ThinkTank Learning, Inc</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#kristin_tichenor" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Tichenor.jpg", class: "img-responsive", alt: "Kristin Tichenor") %>
                                <div class="contributor-caption">
                                    <h4>Kristin Tichenor</h4>
                                    <p class="text-muted">Senior Vice President at Worcester Polytechnic Institute</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#bill_hiss" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Hiss.jpg", class: "img-responsive", alt: "Bill Hiss") %>
                                <div class="contributor-caption">
                                    <h4>Bill Hiss</h4>
                                    <p class="text-muted">Dean of Admissions Emeritus at Bates College</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#catherine_gewertz" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Gewertz.jpg", class: "img-responsive", alt: "Catherine Gewertz") %>
                                <div class="contributor-caption">
                                    <h4>Catherine Gewertz</h4>
                                    <p class="text-muted">Associate Editor at Education Week</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#john_katzman" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Katzman.jpg", class: "img-responsive", alt: "John Katzman") %>
                                <div class="contributor-caption">
                                    <h4>John Katzman</h4>
                                    <p class="text-muted">Founder of The Princeton Review</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#kory_mcbride" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/McBride.jpg", class: "img-responsive", alt: "Kory McBride") %>
                                <div class="contributor-caption">
                                    <h4>Kory McBride</h4>
                                    <p class="text-muted">Independent College Access Consultant</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#greg_hanlon" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Hanlon.jpg", class: "img-responsive", alt: "Greg Hanlon") %>
                                <div class="contributor-caption">
                                    <h4>Greg Hanlon</h4>
                                    <p class="text-muted">Test Prep Specialist</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                          <a href="#pavlina_tcherneva" class="contributor-link" data-toggle="modal">
                              <div class="contributor-hover">
                                  <div class="contributor-hover-content">
                                      <i class="fa fa-info-circle fa-2x"></i>
                                  </div>
                              </div>
                              <%= image_tag("contributor-img/Tcherneva.jpg", class: "img-responsive", alt: "Pavlina Tcherneva") %>
                              <div class="contributor-caption">
                                  <h4>Pavlina Tcherneva</h4>
                                  <p class="text-muted"> Associate Professor at Bard College</p>
                              </div>
                          </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#patrick_hayashi" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Hayashi.jpg", class: "img-responsive", alt: "Patrick Hayashi") %>
                                <div class="contributor-caption">
                                    <h4>Patrick Hayashi</h4>
                                    <p class="text-muted">Former Associate Vice Chancellor at UC Berkeley</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#debbie_stier" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Stier.jpg", class: "img-responsive", alt: "Debbie Stier") %>
                                <div class="contributor-caption">
                                    <h4>Debbie Stier</h4>
                                    <p class="text-muted">Author of “The Perfect Score Project”</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#philip_ballinger" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Ballinger.jpg", class: "img-responsive", alt: "Philip Ballinger") %>
                                <div class="contributor-caption">
                                    <h4>Philip Ballinger</h4>
                                    <p class="text-muted">Associate Vice Provost at University of Washington</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#david_hawkins" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Hawkins.jpg", class: "img-responsive", alt: "David Hawkins") %>
                                <div class="contributor-caption">
                                    <h4>David Hawkins</h4>
                                    <p class="text-muted">Executive Director of Educational Content and Policy at the NACAC</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#chris_ajemian" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Ajemian.jpg", class: "img-responsive", alt: "Chris Ajemian") %>
                                <div class="contributor-caption">
                                    <h4>Chris Ajemian</h4>
                                    <p class="text-muted">Founder of CATES Tutoring</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#erica_meltzer" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Meltzer.jpg", class: "img-responsive", alt: "Erica Meltzer") %>
                                <div class="contributor-caption">
                                    <h4>Erica Meltzer</h4>
                                    <p class="text-muted">Founder of The Critical Reader</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#robert_schaeffer" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Schaeffer.jpg", class: "img-responsive", alt: "Robert Schaeffer") %>
                                <div class="contributor-caption">
                                    <h4>Robert Schaeffer</h4>
                                    <p class="text-muted">Public Education Director of FairTest</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#lloyd_thacker" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Thacker.jpg", class: "img-responsive", alt: "Lloyd Thacker") %>
                                <div class="contributor-caption">
                                    <h4>Lloyd Thacker</h4>
                                    <p class="text-muted">Founder and Executive Director of the Education Conservancy</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#jed_applerouth" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Applerouth.jpg", class: "img-responsive", alt: "Jed Applerouth") %>
                                <div class="contributor-caption">
                                    <h4>Jed Applerouth</h4>
                                    <p class="text-muted">Founder of Applerouth Tutoring Services</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#scott_jaschik" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Jaschik.jpg", class: "img-responsive", alt: "Scott Jaschik") %>
                                <div class="contributor-caption">
                                    <h4>Scott Jaschik</h4>
                                    <p class="text-muted">Co-founder and Editor of Inside Higher Ed</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#milo_beckman" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Beckman.jpg", class: "img-responsive", alt: "Milo Beckman") %>
                                <div class="contributor-caption">
                                    <h4>Milo Beckman</h4>
                                    <p class="text-muted">Freelance Writer for FiveThirtyEight</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#eric_hoover" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Hoover.jpg", class: "img-responsive", alt: "Eric Hoover") %>
                                <div class="contributor-caption">
                                    <h4>Eric Hoover</h4>
                                    <p class="text-muted">Senior Writer for The Chronicle of Higher Education</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#james_murphy" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Murphy.jpg", class: "img-responsive", alt: "James Murphy") %>
                                <div class="contributor-caption">
                                    <h4>James Murphy</h4>
                                    <p class="text-muted">Freelance Journalist</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#mike_muska" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Muska.jpg", class: "img-responsive", alt: "Mike Muska") %>
                                <div class="contributor-caption">
                                    <h4>Mike Muska</h4>
                                    <p class="text-muted">Dean of College Relations at Poly Prep Country Day School</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#david_coleman" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Coleman.jpg", class: "img-responsive", alt: "David Coleman") %>
                                <div class="contributor-caption">
                                    <h4>David Coleman</h4>
                                    <p class="text-muted">CEO of the College Board</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-6 col-xs-12 contributor-bio">
                            <a href="#gaston_caperton" class="contributor-link" data-toggle="modal">
                                <div class="contributor-hover">
                                    <div class="contributor-hover-content">
                                        <i class="fa fa-info-circle fa-2x"></i>
                                    </div>
                                </div>
                                <%= image_tag("contributor-img/Caperton.jpg", class: "img-responsive", alt: "Gaston Caperton") %>
                                <div class="contributor-caption">
                                    <h4>Gaston Caperton</h4>
                                    <p class="text-muted">Former President of the College Board</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <%= render partial: "participants/detail-bio-modal" %>
</body>
